<body>
  <div class="container-fluid">

    <h1>Sounddrop, Team Joda and the ABSOLVENTA Dev Team</h1>

    <img src="http://railsgirlssummerofcode.org/img/blog/2016/rgsoc-2016-coaching-companies_joda-absolventa.png">

    <p>
      <div>It was so great to have had you with us! &lt;3</div>
    </p>
  </div>
</body>
